DATABASE_URL="postgresql://termopane:termopane@localhost:5432/termopane_app?schema=public"

AUTH_SECRET="replace-this-before-real-auth"
AUTH_URL="http://localhost:3000"

NEXT_PUBLIC_APP_NAME="Termopane App"
